﻿@model AdminManager.Models.ViewModel.ToDoTaskVM

        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:red">
                        <button type="button" href="#" class="close" data-dismiss="modal" aria-hidden="True">&times;</button>
                        <h4 class="modal-title" id="ModalTitle">Assigné la tache à une personne </h4>
                    </div>
                    <div class="modal-body" >
                        <form id="form" method="post" action="/ToDoTask/Create">
                            <div class="form-horizontal">
                                @Html.HiddenFor(model => model.idIncident)
                               
                                <div class="form-group">
                                    @Html.LabelFor(model => model.incidentDescription, htmlAttributes: new { @class = "control-label" }) 
                                      : @Html.Encode(Model.incidentDescription)
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.nameTask, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextArea("nameTask", "This is value", new { @class = "form-control" } )
                                        @Html.ValidationMessageFor(model => model.nameTask, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.idUser, "Utilisateur", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.idUser, new SelectList(Model.UsersList, "idUser", "lastName"), "-- utilisteurs --", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.idUser, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div>
                            <a href="@Url.Action("Index","Incident")">Retour</a>
                        </div>
                    </div>
                </div>
         </div>





