﻿@model AdminManager.Models.POCO.IncidentType

@{
    ViewBag.Title = "Categorie d'incident";
}

<html>
<head>
    <link href="~/Content/CssFolder/StyleSheetProvider.css" rel="stylesheet" />
</head>
<body>
@*<h2>Nouvelle catégorie d'incident</h2>*@
<div class="formApp">
    @using (Html.BeginForm("CreateIncidentType", "IncidentType",FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @*@Html.AntiForgeryToken()*@
    
        <div class="form-horizontal">
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
            <div class="form-group">
                @Html.LabelFor(model => model.Libelle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Libelle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Libelle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.imagePath, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    <input type="file" name="image" required class="btn btn-info"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-primary btnLink" />
                </div>
            </div>
        </div>
    }
    
    <div class="btnLink">
        @Html.ActionLink("Retour", "Index")
    </div>

</div>
</body>
</html>
