﻿@model AdminManager.Models.POCO.IncidentType

@{
    ViewBag.Title = "DeleteIncidentType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteIncidentType</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IncidentType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idIncidentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idIncidentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imageTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imageTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
