﻿@using System.Drawing
@model IEnumerable<AdminManager.Models.ViewModel.IncidentTypeVM>

@{
    ViewBag.Title = "";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CssFolder/StyleSheetProvider.css" rel="stylesheet" />
</head>
<body>
    <div class="col-md-12 tableUlEspace">
        
        <a href="@Url.Action("CreateIncidentType", "IncidentType")" class="btn btn-primary btnLink" >
            Nouveau
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>
        <ul class="row" id="UlWithoutChip">
            @foreach (var item in Model)
            {
                <li class="col-md-3">
                    <div>
                        <a href="@Url.Action("Detail", "IncidentType")">
                            @{
                                var base64 = Convert.ToBase64String(item.GetFile(item.imageTitle));
                                var imgrc = string.Format("data:image/jpg;base64,{0}", base64);

                            <img class="img-thumbnail" src="@imgrc" style="max-width: 200px;height: 200px" id="@item.idIncidentType" />
                                @Html.DisplayFor(modelItem => item.Libelle)
                            }
                        </a>
                    </div>
                </li>
            }
        </ul>
        <div class="btnLink">
            @Html.ActionLink("Retour", "Index", new {@class= "btn btn-primary" })
        </div>
    </div>

</body>
</html>
