﻿@using System.Web.UI.WebControls
@model AdminManager.Models.POCO.Role

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateUserCategory</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <form action="UserCategory/Create" method="post">
        @Html.AntiForgeryToken()
  

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.libelle, new { htmlAttributes = new { PlaceHolder = "Nouvelle catégorie", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.libelle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>
