﻿@model IEnumerable<AdminManager.Models.POCO.Role>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CssFolder/StyleSheetProvider.css" rel="stylesheet" />
</head>

<body>
<div class="container-fluid">
    <div></div>
    <div class="row">
        <div class="col-md-4 offset-3" id="loadPartialView">
            @{
                Html.RenderAction("_CreateCategory", "UserCategory",new AdminManager.Models.POCO.Role());
            }
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-3">
        
        </div>
        <div class="col-md-6">
          <div>
                <table class="table table-bordered">
                    <thead class="alert-info">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.libelle)
                        </th>
                        <th colspan="2" style="text-align: center;">Action</th>
                    </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.libelle)
                            </td>
                            <td class="table_cell">
                                <a href="@Url.Action("EditCategory", "UserCategory", new {id = item.idRole})" class="btn btn-info">
                                    Editer
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                </a>
                            </td>
                            <td class="table_cell">
                                <a href="@Url.Action("DeleteCategory", "UserCategory", new {id = item.idRole})" class="btn btn-danger">
                                    Supprimer
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                </a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <div class="col-md-3">

        </div>

    </div>

</div>
</body>
</html>
