﻿

#UlWithoutChip {
    list-style-type: none;
    text-align: center;
    /*border: 1px solid #EEEEEE;*/
    background-color: #EEEEEE;
}

li {
    vertical-align: top;
    font-weight: bold;
    font-size: 0.8em;
    color: white;
  
    padding: 1em;
}

.tableUlEspace {
    margin-top: 100px;
}

.btnLink {
    margin-bottom: 5px; 
    margin-top: 20px;
    margin-left: 0px;
    padding-left: -1px;
    width: 100px;
}

.linkLook {
    margin-bottom: 5px;
    margin-top: 20px;
    margin-left: 0px;
    padding-left: -1px;
    width: 100px;
}

.formApp {
    margin-top: 50px;
    margin-left: 50px;
}

td.espaceInTerieurLien {
    padding: 0;
}

.table_cell {
    width: 1px;
    padding: 0px;
    margin: 0;
}