﻿@model AdminManager.Models.POCO.ToDoTaskState

<div>
    <h4>ToDoTaskState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdToDoTaskState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdToDoTaskState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.taskState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taskState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idIncident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idIncident)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
