﻿@model WebServiceDI.Models.IncidentType

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>IncidentType</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.user.firstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.user.firstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Libelle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Libelle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.imageTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.imageTitle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.imagePath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.imagePath)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.idIncidentType }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
