﻿@model IEnumerable<AdminManager.Models.ViewModel.IncidentVM>


<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
<p>
    <a href="@Url.Action("Nouveau", "Create")" class="btn btn-primary btnLink">
        Nouveau
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </a>
</p>
    <table class="table table-bordered" id="refreshme">
        <thead class="alert-info">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.incidentType.Libelle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dateIncident)
                </th>
                <th>
                    Statut
                </th>
                <th colspan="3" style="text-align: center">Action</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.nameLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dateIncident)
                </td>
                <td>
                    <div id="refreshme">
                        @item.IdIncidentState
                    </div>
                </td>
                <td>
                    <a data-url="@Url.Action("Create", "ToDoTask", new { id=@item.idIncident, incidentDescription = @item.Description,
                                 incidentLocation = @item.Location.nameLocation })" class="btn btn-info btnLink activePopUp" role="dialog">
                        Traiter
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Detail", "Incident", new {id = @item.idIncident })" class="btn btn-info btnLink" data-id="@item.idIncident">
                        Detail
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
                <td>
                    <a href="@Url.Action("Delete", "Incident", new {id = @item.idIncident})" class="btn btn-danger btnLink">
                        Supprimer
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </td>
            </tr>
        }
    </table>

    <div class="modal fade" id="myModal"></div>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.activePopUp').click(function (event) {
                event.preventDefault();

                var url = $(this).data('url');
                console.log(url)

                $.get(url,
                    function (data) {

                        $('#myModal').html(data);
                        $('#myModal').modal('show');
                    });
            });
        });

    </script>
</body>
</html>


