﻿@model AdminManager.Models.ViewModel.IncidentVM

@{
    ViewBag.Title = "Detail Incident";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    
<h2>Detail</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            
            <hr/>
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.dateIncident)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dateIncident)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Location.nameLocation)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Location.nameLocation)
                </dd>

            </dl>
        </div>
        <div class="col-md-4">
            <dl>
                <dd>
                    @*@Html.DisplayFor(model => model.imagePath)*@
                    @{
                        var base64 = Convert.ToBase64String(Model.GetFile(Model.imageTitle));
                        var imgrc = string.Format("data:image/jpg;base64,{0}", base64);

                        <img class="img-thumbnail" src="@imgrc" style="max-width: 200px;height: 200px" />
                        @Html.DisplayFor(modelItem => Model.imageTitle)
                    }
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        @Html.Action("_Create", "Notification", new {id = Model.idIncident});
    </div>

</div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
