﻿@using AdminManager.Models.POCO
@model IEnumerable<AdminManager.Models.ViewModel.IncidentVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

@*Vue partielle*@
<div id="refreshme">

</div>

<div class="modal fade" id="myModal"></div>

<script type="text/javascript">

        var timer;

        $(function() {
            GetIncidentTaskState();
            timer = window.setInterval("GetIncidentTaskState()", 10000)
        })

    function GetIncidentTaskState() {
        $.ajax({
            url: "@Url.Action("_GetIncidentList", "Incident")",
            type: 'GET',
            dataType: 'html',
            success: function(result) {
                $('#refreshme').html(result);
            }
        });
    }

</script>
</body>
</html>


