﻿@model AdminManager.Models.POCO.Location

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateLocation</title>

    <script src="~/Scripts/jquery-3.3.1.slim.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

<a href="#" class="btn btn-info" onclick="AddNewLocation(0)">Add New Location</a>

@*Creating a modal Popup *@
<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle"></h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="submitForm">
                        @Html.HiddenFor(m => m.idLocation, new { @id = "idLocation" })
                        <div class="form-horizontal">
                            <h4>Location</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.nameLocation, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.nameLocation, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nameLocation, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-danger" id="SaveALocation" />
                                </div>
                            </div>
                        </div>


                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>

                    </fieldset>
                    
                   
                    </form>
            </div>
        </div>
    </div>
</div>

<script>
    //function AddNewLocation(idLocation) {
    //    $("#form")[0].reset();
    //    $("#idLocation").val(0);
    //    $("#ModalTitle").html("Add New Location");
    //    $("#MyModal").modal();
    //}

    $(document).ready(function() {
        $("#form")[0].reset();
        $("#idLocation").val(0);
        $("#ModalTitle").html("Add New Location");
        $("#MyModal").modal();
    });
</script>
</body>
</html>
