﻿@using System.Net.Http
@model AdminManager.Models.POCO.Location

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div>
            <p>
                <a href="#" class="btn btn-info" onclick="AddNewLocation(0)">Add New Location</a>
            </p><br/>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.nameLocation)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="SetLocationList" class="tbody">
                  
                </tbody>
            </table>
        </div>

        @*Creating a modal Popup *@
        <div class="modal fade" id="MyModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 id="ModalTitle"></h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="/Location/CreateLocation" id="form">
                      <fieldset id="submitForm">
                                @Html.HiddenFor(m => m.idLocation, new { @id = "idLocation" })
                                <div class="form-horizontal">
                                    <h4>Location</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.nameLocation, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.nameLocation, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.nameLocation, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-danger" id="SaveALocation" onclick="return Add();"/>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    @Html.ActionLink("Back to List", "Index")
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        @section Scripts{
        <script>
            $(document).ready(function() {
                loadData();
            });

            //Charge le tableau contenant la liste des lieux
            function loadData() {
                $.ajax({
                    url: "/Location/ListAsync",
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",

                    success: function (result) {
                        var html = '';
                        $.each(result, function (key, item) {
                            html += '<tr>';
                            html += '<td>' + item.nameLocation + '</td>';

                            html += '<td><a href="#" onclick="return getbyID(' + item.idLocation
                                + ')">Edit</a> | <a href="#" onclick="Delele(' + item.idLocation + ')">Delete</a></td > ';
                            html += '</tr>';
                        });
                        $('.tbody').html(html);
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }

            function AddNewLocation(idLocation) {
                $("#form")[0].reset();
                $("#idLocation").val(0);
                $("#ModalTitle").html("Add New Location");
                $("#MyModal").modal();
            }

   </script>
        }
    </div>
</body>
</html>
