﻿@model AdminManager.Models.ViewModel.UserVM

@{
    ViewBag.Title = "Create";
}

<div>
    @Html.Action("Create","Home", new AdminManager.Models.POCO.User())
</div>



@*<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="padding-top:20px">
    <div class="content-wrapper">
        <br /><br />
        <div class="align-content-center">
            Table to capture username and password
            <form action="/Home/Create" method="post" id="form">
                <table class="table table-bordered">
                    <thead>
                        <tr class="alert-success">
                            <th colspan="2">
                                    Nouveau utilisateur
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.firstName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.firstName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.firstName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.lastName, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.lastName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.lastName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </td>
                        <tr />
                        <tr>
                            <td>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.password, htmlAttributes: new {@class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.password, new {htmlAttributes = new {@class = "form-control"}})
                                        @Html.ValidationMessageFor(model => model.password, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </td>
                        <td>
                            <div class="form-group">
                                    @Html.LabelFor(model => model.confirmPassword, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.confirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                        </td>
                        <tr/>
                        <tr>
                        <td>
                            <div class="form-group">
                                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </td>
                        <td>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.idRole, "Categorie", htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(model => model.idRole, new SelectList(Model.roles, "idRole", "libelle"), "-- Liste des clients --", new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.idRole, "", new {@class = "text-danger"})
                                    </div>
                                </div>
                            </td>
                        <tr />
                    <tr>
                        <th colspan="2">
                            <input type="submit" value="Create" class="btn btn-primary"/>
                        </th>
                    </tr>
                </table>
            </form>
            <div>
                <br/>
                @Html.ActionLink("Retour ", "Index")
            </div>
        </div>
    </div>
</body>*@
@*</html>*@