﻿@model IEnumerable<AdminManager.Models.POCO.User>
@using GridMvc.Html


@{
    ViewBag.Title = "Home Page";
}

    <link href="~/Content/Gridmvc.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/gridmvc.min.js"></script>

<div class="custom-code">
    <p>
        <a href="@Url.Action("Create", "Home")" class="btn btn-primary btnLink" >
            Nouveau
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>
    </p>

    @(Html
          .Grid(Model)
          .Columns(columns =>
          {
              columns.Add(model => model.firstName).Titled("Prénom")
                  .Sortable(true);

              columns.Add(c => c.lastName).Titled("Nom ")
                  .Filterable(true).Sortable(true);

              columns.Add(c => c.email).Titled("Email").Sortable(true);

              columns.Add(c => c.role.libelle).Titled("Role").Sortable(true);
           
              columns.Add()
                  .Sanitized(false)
                  .Encoded(false)
                  .RenderValueAs(c => Html.ActionLink("Edit", "Edit", new { id = c.idUser }));

              columns.Add()
                  .Sanitized(false)
                  .Encoded(false)
                  .RenderValueAs(c => "<button class='btn btn-default'><span class='glyphicon glyphicon-remove-circle' /> </button>");

          })
          .WithPaging(15)
          .Filterable()
          .Sortable()
      
          )
</div>
