﻿@model AdminManager.Models.ViewModel.NotificationVM

<DocType Html!>

<html>
<head></head>
<body>
<div class="container">
    <div class="row">
        @using (Html.BeginForm("Create","Notification", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
    
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model=>Model.idIncident)
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row">
        <div>
           @{
               Html.RenderAction("Notification","Notification", new {id = @Model.idIncident});
           }
        </div>
    </div>
</div>
</body>
</html>

