﻿@model AdminManager.Models.ViewModel.CategoryVM
    
<div class="form-group">
    @Html.LabelFor(model => model.idUserCategory, "idUserCategory", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.idUserCategory, new SelectList(Model.categories, "idUserCategory", "userCategory1"), "-- Liste des clients --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.idUserCategory, "", new { @class = "text-danger" })
    </div>
</div>