﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
       
        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav mr-auto">
                <li>
                    <a href="@Url.Action("Index", "IncidentType")" class="nav-link">
                        <span class="glyphicon glyphicon-home"></span>
                        Categorie d'incident
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "UserCategory")" class="nav-link">
                        <span class="glyphicon glyphicon-home"></span>
                        Catégorie utilisateur
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Location")" class="nav-link">
                        <span class="glyphicon glyphicon-home"></span>
                        Lieux
                    </a>
                </li>
                @*<li>
                    <a href="@Url.Action("Index", "Home")" class="nav-link">
                        <span class="glyphicon glyphicon-home"></span>
                        Utilisateur
                    </a>
                </li>*@
                <li>
                    <a href="@Url.Action("Index", "Incident")" class="nav-link">
                        <span class="glyphicon glyphicon-home"></span>
                        Incident
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right mr-auto">
               @{
                    if ((string) Session["userName"] != null)
                    {
                    <a href="#" class="nav-link">
                        @Session["userName"].ToString()
                    </a>
                    }
                }
            </ul>

        </div>
    </div>
</nav>
<div class="container body-content">
    <div>
        <br/>
    </div>
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - Gestion d'incident </p>
    </footer>
</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gridmvc")
    @RenderSection("scripts", required: false)
</body>
</html>
