﻿@model AdminManager.Models.ViewModel.LoginInfos
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body style="padding-top:20px" class="container">
    <div class="col-md-10 col-md-offset-4 content-wrapper">
        <br /><br /><br />
        <div class="align-content-center">
            <!--Table to capture username and password-->
            <form action="/Account/Login" method="post" id="form">
                @Html.AntiForgeryToken()
                <table class="table table-bordered">
                    <thead>
                        <tr class="alert-success">
                            <th colspan="2">
                                <a href="@Url.Action("Create", "Home")" class="btn btn-success float-right">
                                    Register
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })</td>
                            <td>
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })</td>
                            <td>
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </td>
                        </tr>
                        <tr class="alert-success">
                            <td colspan="2">
                                <input id="btnLogin" class="btn btn-success" type="submit"
                                       value="Login" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--Bootstrap alert to display error message if the login fails-->
                <div id="divError" class="alert alert-danger collapse">
          
                </div>
            </form>
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/gridmvc")
        @RenderSection("scripts", required: false)
    }

</body>
</html>

