﻿@model AdminManager.Models.POCO.User

@*@{
    ViewBag.Title = "Login";
}*@

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body style="padding-top:20px">
<div class="col-md-10 col-md-offset-1 content-wrapper">
    <br/><br/><br/>
              <div class="align-content-center">
                  <!--Table to capture username and password-->
                  <form action="/Login/Index" method="post" id="form">
                      <table class="table table-bordered">
                          <thead>
                              <tr class="alert-success">
                                  <th colspan="2">
                                      <a href="@Url.Action("Create", "Home")" class="btn btn-success float-right">
                                          Register
                                      </a>
                                  </th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td> @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label" })</td>
                                  <td>
                                      @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                      @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                  </td>
                              </tr>
                              <tr>
                                  <td>@Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label" })</td>
                                  <td>
                                      @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                                      @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                  </td>
                              </tr>
                              <tr class="alert-success" ">
                                  <td colspan="2">
                                      <input id="btnLogin" class="btn btn-success" type="submit" 
                                             value="Login" />
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                      <!--Bootstrap alert to display error message if the login fails-->
                      <div id="divError" class="alert alert-danger collapse">
                          <a id="linkClose" href="#" class="close">&times;</a>
                          <div id="divErrorText"></div>
                      </div>
                  </form>
              </div>
</div>

<script src="Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {

        $('#linkClose').click(function() {
            $('#divError').hide('fade');
        });

        $('#btnLogin').click(function() {
            $.ajax({
                // Post username, password & the grant type to /token
                url: '/Login/Index/',
                method: 'POST',
                contentType: 'application/json',
                data: {
                    email: $('#txtUsername').val(),
                    password: $('#txtPassword').val(),
                    grant_type: 'password'
                },
                // When the request completes successfully, save the
                // access token in the browser session storage and
                // redirect the user to Data.html page. We do not have
                // this page yet. So please add it to the
                // EmployeeService project before running it
                success: function(response) {
                    sessionStorage.setItem("accessToken", response.access_token);
                    window.location.href = "Data.html";
                },
                // Display errors if any in the Bootstrap alert <div>
                error: function(jqXHR) {
                    $('#divErrorText').text(jqXHR.responseText);
                    $('#divError').show('fade');
                }
            });
        });
    });
</script>
</body>
</html>

@*<h2>Login</h2>


@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>LoginView</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log In" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

